/* Colors */
:root {
  --bg-color: #eee;
  --fg-color: #fff;
  --heading-color: #333;
  --body-color: #555;
}

body {
  background-color: var(--bg-color);
  font-size: 16px;
}

/* Main wrapper */
.groceries {
  position: relative;
  margin: 100px auto;
  padding: 40px;
  max-width: 60vw;
  background-color: var(--fg-color);
  border-radius: 10px;
  color: var(--body-color);
}

.groceries__title {
  position: absolute;
  top: -5rem;
  color: var(--heading-color);
}

/* Form styles */
.add-form,
.edit-form {
  display: flex;
  align-items: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 19em;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--heading-color);
}

/* List styles */
.grocery-list {
  list-style: none;
  padding: 0;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.grocery-item__controls button:hover {
  cursor: pointer;
}
